# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse
*.pydevproject
.project
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# Mac system files
.DS_Store
